# Dependencies
node_modules/

# Nuxt
.nuxt/
.output/
.netlify/
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.local
